# dependencies
/node_modules

# production
/out-tsc
*.tgz

# source and scripts
/src
/scripts
/.github
.gitignore
/dist/**/*.js.map
/dist/**/*.mjs.map
angular.json
ng-package.json

# testing and coverage
karma.conf.ts
/logs
/coverage

# bun (not production ready)
bun.lockb
bunfig.toml
node_modules.bun

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.eslintrc.js
.prettierrc
.prettierignore
tsconfig*.json
jsconfig*.json
.DS_Store
**/tsconfig*.tsbuildinfo
**/jsconfig*.tsbuildinfo

# misc
/.angular
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/tmp
/bazel-out
Thumbs.db
*-debug.log
*-error.log
